<div style="background: url(https://i.postimg.cc/3N7wnb75/background.jpg)"  class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="center" >FLAT  ADMINISTRATION</h1>
		<h2 class="admin">admin</h2>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="com-md-6">
			<form #flatForm="ngForm">
				<fieldset>
				
					<legend class="text-center"> Valid information is required to register.
						<span class="req">
							<small> required *</small>
						</span>
					</legend>

					<div class="form-group">
                        <label for="Name" >
							<span class="req">* </span>
							Id:  
						</label>
                        <input required type="text" [(ngModel)]="flat.id" name="id" id="id"
                            class="form-control" maxlength="28" placeholder="Enter Id: Optional, but mandatory field to Update a Flat record" />
                    </div>
					
					<div class="form-group">
                        <label for="Name" >
							<span class="req">* </span>
							Unit:  
						</label>
						<input required type="text" [(ngModel)]="flat.unit" name="unit" id="unit" class="form-control" maxlength="28"
							placeholder="Enter flat number" #unit="ngModel" />
						<small *ngIf="unit.invalid && unit.touched" id="error">Unit is required</small>
                    </div>
					
					<div class="form-group">
                        <label for="firstname"><span class="req">* </span> Configuration: </label>
                        <input class="form-control" type="text" [(ngModel)]="flat.configuration" name="configuration" id="txt" required
                            placeholder="Enter flat configuration type" #configuration="ngModel" />
							&nbsp;
							<small *ngIf="configuration.invalid && configuration.touched; else configurationMessage" id="error">Current status is
								required</small>
							<ng-template #configurationMessage>
								<small>Flat configuration type eg., 2-BHK</small>
							</ng-template>
                        <div id="errFirst"></div>						
                    </div>

                    <div class="form-group">
                        <label for="lastname">
							<span class="req">* </span> Current Status : 
						</label>
                        <input class="form-control" type="text" [(ngModel)]="flat.currentstatus" name="currentstatus" id="txt"
                            placeholder="Enter flat occupancy status" required #currentstatus="ngModel" />
							&nbsp;
							<small *ngIf="currentstatus.invalid && currentstatus.touched; else currentstatusMessage" id="error">Current status is required</small>
						<ng-template #currentstatusMessage>
							<small> Flat occupancy status eg., available, rented</small>
						</ng-template>
                        <div id="errLast"></div>
                    </div>
					
					<div class="form-group">
                        <label for="lastname">
							<span class="req">* </span> Apartment : 
						</label>
                        <input class="form-control" type="text" [(ngModel)]="flat.apartment" name="apartment" id="txt"
                            placeholder="Enter apartment name" required #apartment="ngModel" />
							&nbsp;
						<small *ngIf="apartment.invalid && apartment.touched; else apartmentMessage" id="error">Apartment name is required</small>
						<ng-template #apartmentMessage>
							<small>Apartment name</small>
						</ng-template>
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <input style="margin-right: 2px" class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="registerFlat(flat)" [disabled]="flatForm.invalid">
						<input class="btn btn-success" type="submit" name="submit_upd" value="Update" (click)="updateFlatRecord(flat)" [disabled]="flatForm.invalid">
                    </div>
					
				</fieldset>
			</form>			
			<h1 style="text-align: center; background-color:MediumSeaGreen; color:rgb(95, 11, 11);font-family:'Courier New'; font-size:20px" >{{responsemessage}}</h1>
		</div>
	</div>
	<fieldset> 
		<!--div style="text-align: center">
			<h1>{{message}}</h1>
		</div-->
		<div class="container">
			<div class="row col-md-6 col-md-offset-2 custyle">
				<div class="form-group">
					<input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search">
				</div>
				<table class="table table-striped custab" style="width:50%">
					<thead>
						<tr>
							<th>Id</th>
							<th>Unit</th>
							<th>Configuration</th>
							<th>Current Status</th>
							<th>Apartment</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let flat of flats | filterFlats:searchTerm">
							<td>{{flat.id}}</td>
							<td>{{flat.unit}}</td>
							<td>{{flat.configuration}}</td> 
							<td>{{flat.currentstatus}}</td>
							<td>{{flat.apartment}}</td>       
							<td class="text-center">
								<button class="btn btn-danger btn-xs" (click)="removeFlatRecord(flat.id)">
									<span class="glyphicon glyphicon-remove" ></span> 
									Delete
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>